@model PagedList.IPagedList<WeatherInfo.Models.Weather>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Просмотр архивов погодных условий в г. Москве";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Visualize", "Home", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                <input type="text" name="year" />
            </td>
            <td>
                <select name="month">
                    <option value=""></option>
                    <option value="1">Январь</option>
                    <option value="2">Февраль</option>
                    <option value="3">Март</option>
                    <option value="4">Апрель</option>
                    <option value="5">Май</option>
                    <option value="6">Июнь</option>
                    <option value="7">Июль</option>
                    <option value="8">Август</option>
                    <option value="9">Сентябрь</option>
                    <option value="10">Октябрь</option>
                    <option value="11">Ноябрь</option>
                    <option value="12">Декабрь</option>
                </select>
            </td>
            <td><input type="submit" name="search" value="Поиск" /></td>
        </tr>
    </table>


    <p>
        Значения столбцов: T- температура воздуха, гр. Ц.; Td - точка росы, гр. Ц.;
        h - нижняя граница облачности, м; VV - горизонтальная видимость, км
    </p>
    <table class="table">
        <tr class="header">
            <td align="center"><p><b>Дата</b></p></td>
            <td align="center"><p><b>Время (московское)</b></p></td>
            <td align="center"><p><b>T</b></p></td>
            <td align="center"><p><b>Отн. влажность воздуха, %</b></p></td>
            <td align="center"><p><b>Td</b></p></td>
            <td align="center"><p><b>Атм. давление, мм. рт. ст.</b></p></td>
            <td align="center"><p><b>Направление ветра</b></p></td>
            <td align="center"><p><b>Скорость ветра, м/с</b></p></td>
            <td align="center"><p><b>Облачность, %</b></p></td>
            <td align="center"><p><b>h</b></p></td>
            <td align="center"><p><b>VV</b></p></td>
            <td align="center"><p><b>Погодные явления</b></p></td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.Temperature)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.RelativeHumidity)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.DewPoint)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.Pressure)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.WindDirection)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.WindVelocity)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.Claudage)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.ClaudageLowBound)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.HorizontallVisibility)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.WeatherConditions)
                </td>
            </tr>
        }

    </table>
    <br />
}

Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Visualize", new { page, month=ViewBag.month, year=ViewBag.year}))